{% extends "base.html" %}
{% block title %}DeshBoard{% endblock %}

{% block content %}


<div class="card">
  <h1 class="h2">Create Quiz</h1>
  <div class="card-body">
<form>
  <div class="form-group">
    <label for="exampleFormControlTextarea1">Add Question to Quiz</label>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name="questionList" placeholder="Give Quistion ID with Space"></textarea>
  </div>
  
 

  <button type="submit" class="btn btn-primary">Submit</button>
</form>
</div>
</div>

{% endblock %}